.texto-color{
    font-family: 'Montserrat', sans-serif;
    color: brown;
    font-size: 13px;
    font-family: cursive;
  }
  
.iconnon{   
    text-decoration: none;
    
  }


 .lista-grupo{
    list-style-type: none;
    
}
.bi:hover{
    transform: rotate(360deg) translate(0px, 0px) scale(1.6, 1.5);
    transition: 3sec;
  }
  
  