#screen1{
    animation: moveScreen 5s 1s infinite;
  }
  #screen2{
    animation: moveScreen 5s 2s infinite;
  }
  #Vector_3{
    animation: moveScreen 5s 3s infinite;
  }
  #Vector_4{
    animation: moveScreen 5s 4s infinite;
  }
  #screen4{
    animation: moveScreen 5s 4s infinite;
  }
  #screen5{
    animation: moveScreen 5s 5s infinite;
  }
  #screen6{
    animation: moveScreen 5s 6s infinite;
  }
  #screen7{
    animation: moveScreen 5s 7s infinite;
  }
  #screen8{
    animation: moveScreen 5s 8s infinite;
  }
  #screen9{
    animation: moveScreen 5s 9s infinite;
  }
  #screen10{
    animation: moveScreen 5s 10s infinite;
  }
  @keyframes moveScreen{
 
    10%{
      fill: green
    }
    20%{
      fill: #4568dc
    }
    30%{
      fill: #acbb78
    }
    40%{
      fill: 
      #6f0000
    }
    50%{
      fill: 
      #eef2f3
    }
    60%{
      fill: 
      
  #03001e
    }
    70%{
      fill: 
      #7303c0
    }
    80%{
      fill: 
      #f12711
  
    }
    90%{
      fill: 
      #e9d362
    }
    100%{
      fill: 
      #333333
    
  }
  }
  