<div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block p-0 m-0">
<div class="col p-0 m-0">
<nav class="d-flex justify-content-end">
    <a href="" class="mx-2">Inicio</a>
    <a  routerLink="/login" class="mx-3" *ngIf="isLogged">Iniciar Sesión</a>
    <a  routerLink="/comment/form" class="mx-3">Comentarios</a>
    <a  routerLink="/list"class="mx-3">Lista</a>
    <button class="btn btn-danger ms-3 boton" (click)="onLogOut()" *ngIf="!isLogged">Salirse</button>
   <a routerLink="/register"class="mx-3" *ngIf="isLogged">Registrarse</a>
  </nav>
</div>
</div>