
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,700&display=swap');


a{
text-decoration: none;
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  animation: vanish 1s ease-in ;
  font-weight: bolder;
}
a:hover{
    border-bottom: 2px solid white;
    margin-bottom: 5px;
    transition: 0.5s;
}
.boton{
    animation: vanish 1s ease-in ;
}



@keyframes vanish {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }

    100%{
        opacity: 1;
        transform: translate(0%);
    }
}



