<div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block p-0 m-0">
<div class="col p-0 m-0">
<nav class="d-flex justify-content-end">
    <a href="" class="mx-2">Inicio</a>
    <a routerLink="/register" class="mx-3">Crear Cuenta</a>
    <a  routerLink="/login" class="mx-3">Registrarse</a>
    <a  routerLink="/login" class="mx-3"></a>
    <a  routerLink="/login"class="mx-3">cccc</a>
    <button class="btn btn-secondary ms-3 boton">Entrar</button>
    <button class="btn btn-secondary ms-2 boton">Registrarse</button>
  </nav>
</div>
</div>