*{
    box-sizing: border-box;
}

.containe{
    max-width: 500px;
    margin: 30px auto;
    min-height: 600px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 5px;
}

.ng-valid{
    border-color: lightgreen;
}

.height{
    height: 100px;
}