<div class="container-fluid ">
<div class="row containe d-block ">
    <p class=" col-1ms-2 mt-2 "><b>Agregar Comentario</b></p>
    <form class="form-floating h-100 p-0 " [formGroup]="formLogin" >
        <div class="col-3 w-100 my-5">
          <div class="form-floating ">
            <input type="text" class="form-control" id="floatingInputGrid" formControlName="name" >
            <p *ngIf="Name?.touched && Name?.errors" class="text-danger">Requiere un Nombre</p>
            <label for="floatingInputGrid">Nombre</label>
          </div>
        </div>
        <div class="col-3 w-100 my-5">
            <div class="form-floating ">
              <input type="text" class="form-control" id="floatingInputGrid" formControlName="apellido" >
              <p *ngIf="Apellido?.touched && Apellido?.errors" class="text-danger">Requiere un Apellido</p>
              <label for="floatingInputGrid">Apellido</label>
            </div>
            <div class="my-5">
                <button class="btn btn-info w-25 text-light"  [disabled]="formLogin.invalid"> Enviar</button>
                </div>
          </div>
    </form>
   </div>
</div>