<div class="d-flex flex-wrap ">
<div class="card mx-2" style="width: 18rem;">
    <img src="https://hbomax-images.warnermediacdn.com/images/GYoy0UgG9-YeAHgEAAACA/tile?size=640x360&partner=hbomaxcom&v=f576da2cea62aec9c0d59ac92684a86c&host=art-gallery.api.hbo.com&language=es-419" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://hbomax-images.warnermediacdn.com/images/GYoy0UgG9-YeAHgEAAACA/tile?size=640x360&partner=hbomaxcom&v=f576da2cea62aec9c0d59ac92684a86c&host=art-gallery.api.hbo.com&language=es-419" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://hbomax-images.warnermediacdn.com/images/GYoy0UgG9-YeAHgEAAACA/tile?size=640x360&partner=hbomaxcom&v=f576da2cea62aec9c0d59ac92684a86c&host=art-gallery.api.hbo.com&language=es-419" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://hbomax-images.warnermediacdn.com/images/GYoy0UgG9-YeAHgEAAACA/tile?size=640x360&partner=hbomaxcom&v=f576da2cea62aec9c0d59ac92684a86c&host=art-gallery.api.hbo.com&language=es-419" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://hbomax-images.warnermediacdn.com/images/GYoy0UgG9-YeAHgEAAACA/tile?size=640x360&partner=hbomaxcom&v=f576da2cea62aec9c0d59ac92684a86c&host=art-gallery.api.hbo.com&language=es-419" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>